body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  background-color: #fff7f0;
}

.App {
  max-width: 700px;
  margin: 40px auto;
  padding: 24px 30px 36px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(214, 151, 104, 0.08);
  border-radius: 16px;
}

.header {
  text-align: center;
  margin-bottom: 36px;
}
.header h1 {
  font-size: 2.7rem;
  color: #b23e1f;
  margin: 0 0 8px 0;
}
.subtitle {
  color: #917156;
  font-weight: 400;
  margin-bottom: 7px;
}
.menu {
  margin-top: 8px;
}
.category {
  margin-bottom: 34px;
}
.category h2 {
  font-size: 1.5rem;
  color: #744409;
  border-bottom: 2px solid #edd9c5;
  display: inline-block;
  margin-bottom: 8px;
  padding-bottom: 2px;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  font-size: 1rem;
  border-bottom: 1px dashed #f2d2b0;
  color: #343434;
}
.menu-item:last-child {
  border-bottom: none;
}
.price {
  color: #b3542a;
  font-weight: 500;
}
